/*Start Global*/
html
{
    font-family: 'Merienda', cursive;
}
h1
{
    text-align: center;
}
p
{
    text-align: justify;
}
/*End Global*/

/*Section About*/
.social-media
{
    font-size: 3rem;
    
}
.icon-link
{
    color:rgb(117, 4, 26);
}